{
  "extends": [
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "env": {
    "jest": true,
    "node": true
  },
  "settings": {
    "react": {
      "version" : "18.2.0"
    }
  },
  "plugins": [
    "eslint-plugin-react"
  ],
  "rules": {
    "react/prop-types": 0,
    "react/no-deprecated": 0
  }
}
