build/
dist/
public/
**/*.min.js
node_modules/
coverage/
test/**/*-failed.png
.nyc_output/
.reify-cache/
.cache/

TODO

*/**/yarn.lock
yarn-error.log
package-lock.json

.vscode/
.project
.idea
.DS_Store
*.log
.exit_code
