name: test

# On every pull request, but only on push to master
on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read

jobs:
  test-node:
    runs-on: ubuntu-latest

    permissions:
      checks: write
      contents: read

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          node-version: 22
          cache: 'yarn'

      - name: Install dependencies
        run: |
          yarn install
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: false

      - name: Build code
        run: |
          yarn build

      - name: Run tests in Puppeteer and generage Coverage
        run: |
          yarn test cover

      - name: Run tests on Node
        run: |
          yarn test node

      - name: Run lint
        run: |
          yarn lint

      - name: Test website build
        run: |
          yarn test-website
